__pycache__/
*.py[cod]
*$py.class

*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

.ipynb_checkpoints/

.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

.DS_Store

*.log
*.sqlite3

.env
.env.*

data/processed/
scripts/models/
*.h5
*.joblib
*.pkl
map.html

config/*.local.json

*.manifest
*.spec

.mypy_cache/

.prof
